<section class="row">

  <div class="btn-toolbar mb-3 mt-4 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <a href="/nosotros#fin" type="button" class="btn btn-outline-dark">Suscribite a las últimas novedades</a>
      <button routerLink="/nota/620b9647ab14af13b2d8ba9b" type="button" class="btn btn-outline-dark">Como elegir el perfume perfécto</button>
      <button type="button" class="btn btn-outline-dark">Compartir este sitio</button>
    </div>
  </div>

<div class="row pt-4">
  <div class="col-lg-6" id="imgPerf">
    
  </div>
  <div class="col-lg-6">
    <p class="text p-4" id="txt">
      Desde <span id="espirit">Espirit</span> emprendemos este proyecto con experiencia y dedicación,
      para que puedas disfrutar de las fragancias que más te 
      gustan y a precios accesibles.
      ¡Conocenos!
      Realizamos envíos a toda la provincia de San Luis, Argentina.
    </p>
    <hr>
    <button class="btn btn-outline-alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="green" class="bi bi-share" viewBox="0 0 16 16">
        <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
      </svg>
    </button>
  </div>
</div>
  

  <div class="row pt-4 pb-4">
    <hr>
    <div class="col-lg-6 text-center p-3">
      <p class="text p-4" id="hacemos">
        Todos nuestros productos son elaborados artesanalmente, con las
        mejores prácticas y técnicas, avalados por la experiencia y profesionalismo.
      </p>
    </div>

    <div class="col-lg-6" id="imgLab">
      
    </div>

  </div>

  <div id="fin"></div>

</section>

<!---->